title = "login"
url = "/login"
layout = "notre_theme"
is_hidden = 0

[account]
redirect = "produits"
paramCode = "code"
forceSecure = 0
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>connecter</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6">
            {% partial account ~ '::register' %}
        </div>

    </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}