title = "Video"
url = "/video"
layout = "default"
meta_title = "title.video"
is_hidden = 0
==
<div class="container">

    <div class="title-area">
        <h3>{{ this.page.meta_title|_ }}</h3>
    </div>

    <div class="text-center">
        <iframe src="https://player.vimeo.com/video/102449697?color=0483d9&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

</div>