<header class="main-header">
    <div class="container clearfix">
        <h1 class="logo">Stage Produits</h1>

        <nav class="main-nav">
            <ul>
                <li class="{% if this.page.id == 'homepage' %} active {% endif %}"><a href="http://localhost:1234/octobercms">accueil</a></li>
                <li class="{% if this.page.id == 'Produits' %} active {% endif %}"><a href="{{ 'produits'|page }}">Produits</a></li>
                <li class="{% if this.page.id == 'ctgs' %} active {% endif %}"><a href="{{ 'categories'|page }}">Categories</a></li>
                <li class="{% if this.page.id == 'login' %} active {% endif %}"><a href="{{ 'login'|page }}">
                    {% if not user  %}
                        Connexion
                    {% else %}
                        profile
                    {% endif %}
                </a></li>
                {% if user %}
                    <li><a data-request="onLogout" data-request-data="redirect: '/'">Déconnexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

</header>